<h2>What is the <%= site_name(short: true) %>?<a name="what"></a></h2>
<p>The <%= site_name %> is the book sharing community of <a href="http://www.amsterdam50.nl/">Amsterdam50</a>, a small and cozy international church in Amsterdam. Besides sharing each other's company and life's journey, as we usually do, this website helps us to share and discover our books.</p>


<h2>How does it work?<a name="how"></a></h2>
<p>
<% if AppConfig.use_signup %><%= link_to 'Create an account', '/account/signup' %>.
<% else %>To get an account, ask someone who already has one to send an invitation to your email address.<% end %>
After filling in your name, postcode and if you like something about yourself, you can start listing the books that you own. With the book's <a href="https://en.wikipedia.org/wiki/International_Standard_Book_Number">ISBN number</a>, this is very easy. You will quickly be able to borrow from the books available in this community. Search for specific authors or titles, browse individual collections, find other members, or find people who like books that you have in common. Or read reviews by others and then write your own when you finish the book!</p>

<p>To borrow a book, you simply click the button on the book's page. When the owner of a book you're interested in has time for you to pick it up or meet you, then you can borrow books and video (with a due date set by the owner).</p>

<p>Returning books late will get you negative feedback, while returning books promptly will get you positive feedback. <strong>You are never under any obligation to lend an item if you don't feel comfortable doing so.</strong></p>


<h2>Do I put all my books online here?<a name="what-books"></a></h2>
<p>Perhaps, it depends a bit on how we grow. For now, I'd like to suggest to ask yourself one or more of the following questions:</p>
<ul>
	<li>Is this a book I'd like to share with others in Amsterdam50?</li>
	<li>Does this represent something related to our community?</li>
	<li>Would others reading this book be a contribution to our community?</li>
</ul>
<p>It's not just <i>any</i> book sharing site, it's our community's. Let's together find out what this turns out to be. Thoughts and ideas are always welcome.</p>


<h2>Where do I find the ISBN number?<a name="isbn"></a></h2>
<p>Look at the same page that lists the publishing information and copyright, or on the outside back cover of the book or book jacket. It is a number of 10 or 13 digits. Read more on <a href="https://en.wikipedia.org/wiki/International_Standard_Book_Number">wikipedia</a>.</p>


<h2>How it got started<a name="start"></a></h2>
<p>When, in November 2014, there was no more room for our little church library, I was a little sad. Then I realised that there were much more books in our community than I had seen here, and that the even loss of our library could be the start of something new. A library consisting of the combined bookshelves in our homes. A way to share our culture and identity, and to expand it.</p>

<p>After looking on the internet for software, I found the <a href="http://www.nongnu.org/dlp/">Distributed Library Project</a>, which had moved on to <a href="https://github.com/medwards/free-library-on-rails">free-library-on-rails</a>. It proved a small effort to get it to work and adapt it to the wishes of our community.</p>


<h2>How can I contribute?<a name="contribute"></a></h2>
<p>First of all, share your books! If you'd like to do more, you may want to become a librarian: reviewing book listings, rearranging tags and making sure that people who moved elsewhere don't forget to remove their books.</p>
<p>If you're into graphics, web-design or programming, you're welcome to improve things or add new features. Development <a href="https://github.com/wvengen/free-library-on-rails">happens on Github</a>. Everything is fully open and open source.</p>
