<div class="without-cover">
	<div class="title"><%= highlight(h(item.title), @query) %></div>
	<div class="author"><%= highlight(h(item.author_first + ' ' + item.author_last), @query) %></div>
</div>
