development: &defaults
  # Site title and short name (latter is optional).
  site_name: A50 Book Community
  #site_name_short: ABC
  # Where is this free library located?
  site_region: Amsterdam
  site_region_long: the Amsterdam50 Community
  # CSS Style file, a file app/assets/stylesheets or a full URL.
  css_style: amsterdam50-extra.css
  # Set this to false if you can't store images on your server (Heroku).
  fetch_covers: false
  # Some tags are not acceptable.
  TAG_BLACKLIST: [general, Amazon.com, fuck, shit, crap]
  # Key for retrieving book info using the ISBNDB API.
  ISBNDB_KEY: PJ6X926W
  # Whether to ask members for phone number and send sms on loan request
  use_sms: false
  # Mail configuration
  mail_from: bookcommunity@amsterdam50.nl
  mail_url_options:
    host: books.amsterdam50.nl

production:
  <<: *defaults

test:
  <<: *defaults
