<h1>Tags</h1>

<div data-vis="cloud" data-vis-src="#tags"></div>
<%= javascript_include_tag 'visualisation' %>
<script>
  var tagswords = <%= raw @tag_counts.map{|tag,count| {text: tag, size: count}}.to_json %>;

  function cloud_init(el, src) {
	console.log(tagswords);
    d3.layout.cloud().size([800, 300])
      .words(tagswords)
      .padding(5)
      .rotate(function() { return ~~(Math.random() * 2) * 60; })
      .fontSize(function(d) { return d.size + 12; })
	  .on("end", function(words) { cloud_draw(el, words); })
      .start();
  }
  function cloud_draw(el, words) {
    var fill = d3.scale.category20();
    d3.select(el).append("svg")
        .attr("width", 800)
        .attr("height", 300)
      .append("g")
        .attr("transform", "translate(400,150)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
  $('[data-vis=cloud]').each(function() {
    var src = $(this).attr('data-vis-src');
    cloud_init(this, $(src)[0]);
  });

</script>

<noscript>
<ul id="tags">
<% @tag_counts.each do |tag,count| %>
	<li><%= link_to h(tag), tag_path(h(tag)) %> (<%=h count %>)</li>
<% end %>
</ul>
</noscript>
