<%= sidelink 'Tag cloud', tags_path(as: :cloud) %>
<%= sidelink 'Tag list', tags_path(as: :list) %>
<h1>Word cloud</h1>

<div id="wordcloud" style="margin: auto"></div>

<%= javascript_include_tag 'visualisation' %>
<script>
	d3.wordcloud()
		.size([800,400])
		.selector('#wordcloud')
		.fill(d3.scale.ordinal().range(["#67001f","#b2182b","#d6604d","#f4a582","#92c5de","#4393c3","#2166ac","#053061"])) // modified RdBu[11]
		.words(<%= raw @word_counts.map{|r| {text: r['word'], size: r['ndoc'], href: search_items_path(q: r['word'])}}.to_json %>)
		.start();
</script>

<p>This picture contains an overview of word stems used in all descriptions and titles.</p>

