<div class="two-columns">
	<div class="column"><div class="content">
		<%= render :partial => 'loans/items_borrowed', :locals => { :items => @borrowed_and_pending } %>
	</div></div>

	<div class="column"><div class="content">
		<%= render :partial => 'loans/items_lent', :locals => { :items => @lent_and_pending } %>
	</div></div>
</div>


