/*
 * copied from inline style block main website
 */
.wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .wsite-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {font-family:"Molengo" !important;font-size:16px !important;line-height:26px !important;}
#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {color:#2a2a2a !important;}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
.wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {font-family:"Molengo" !important;font-size:25px !important;line-height:33px !important;}
#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {color:#8d2424 !important;}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
#wsite-title {font-family:"Molengo" !important;font-size:50px !important;}
.wsite-not-footer h2.wsite-content-title a, .wsite-not-footer .paragraph a, .wsite-not-footer blockquote a, #blogTable .blog-sidebar a, #blogTable .blog-comments a, #blogTable .blog-comments-bottom a, #wsite-com-store a, #wsite-com-product-gen a, #wsite-com-product-tab a {color:#5040ae !important;}
.wsite-menu-default a {font-family:"Molengo" !important;font-size:14px !important;}
.wsite-menu a {font-family:"Molengo" !important;font-size:14px !important;}
.wsite-image div, .wsite-caption {font-family:"Molengo" !important;}
.galleryCaptionInnerText {font-family:"Molengo" !important;}
.fancybox-title {font-family:"Molengo" !important;}
.wslide-caption-text {font-family:"Molengo" !important;font-size:15px !important;}
.wsite-phone {font-family:"Molengo" !important;font-size:15px !important;}
.wsite-headline {font-family:"Molengo" !important;color:#8d2424 !important;}
.wsite-headline-paragraph {font-family:"Molengo" !important;color:#515151 !important;}
.wsite-button-inner {}
.wsite-not-footer blockquote, #wsite-com-product-tab blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {color:#8d2424 !important;}
#wsite-content h2.wsite-product-title {}
.wsite-product .wsite-product-price a {}

/*
 * extra stuff we need here
 */

/* navigation separator */
#navigation ul li.separator {
	background-color: #d0d0d0;
	vertical-align: middle;
	bottom: .1em;
	height: 1px;
	width: 1em;
	padding: 0;
	margin: 0 14px;
}

/* navigation submenu */
#navigation li { background-color: white; }
#navigation ul.submenu { display: none; }
#navigation li:hover ul.submenu, #navigation li:active ul.submenu { display: block; position: absolute; }
#navigation li ul.submenu { margin-left: -14px; margin-top: 8px; border: 1px solid #f6f6f6; }
#navigation li ul.submenu::before, #navigation li ul.submenu::after { display: none }
#navigation ul.submenu li { width: 100px; text-align: left; display: block; }

