
/* utility classes */
.hide{
display:none;
}

/* rails flashes */
.flash {
  border: 1px solid #a0a0a0;
  padding: 1em;
  width: 80%;
}

.flash strong {
  color:#808080;
  size: 0.8em;
}

.flash.notice {
  background: #262;
}

.flash.error {
  background: #622;
}

#isbn-validation {
	border: 1px solid #ccc;
	padding: 0.2em 1em;
}

.cover_photo {
	border: 1px solid white;
}

.description {
	max-width: 60em;
}


.description p {
	text-align: justify;
	max-width: 50em;
}

.description .cover_photo {
	float: right;
	margin-left: 4em;
}

.highlight {
	color: yellow;
	font-weight :bold;
}

.add-tag, .remove-tag {
	font-size: 1.6em;
	font-weight: bold;
	cursor: pointer;
	padding: 0 0.5em;
}

.add-tag {
	color: green;
}

.remove-tag {
	color: red;
}

#tagList {
	list-style-type: none;
}

#tagList li {
	display: inline-block;
	width: 50%;
}

.itemActions {
	margin-top: 1ex;
	float: right;
}

.itemActions .button-to, .itemActions .button-to div {
	display: inline;
}

.itemActions .button-to {
	padding: 1em;
}

.requests {
	float: right;
}

.currentLoan .button-to {
	padding-top: 1em;
	padding-left: 1em;
}

table.items {
	width: 100%;
}

table.items td.cover {
	/* be nice to books without covers */
	height: 50px;
	width: 50px;
}
table.items .cover img {
	height: 50px;
}

.fieldWithErrors input {
	background: #d99;
}

.comment {
	margin-bottom: 1em;
}

.comment .byline {
	padding-left: 2em;
}

.formats {
	float: right;
	list-style-type: none;
	padding-right: 5em;
}

h1 .librarian {
	font-size: 60%;
	font-weight: normal;
}

/* sidelinks */
.sidelinks {
	list-style-type: none;
	display: block;
	float: right;
}
.sidelinks a { margin-left: 0.8em; }
.sidelinks a img { margin-right: 2px; }

/* columned content */
.two-columns, .three-columns { margin: auto; }
.two-columns .column, .three-columns .column { vertical-align: top; }
.two-columns .column > .content, .three-columns .column > .content {
	border: 1px solid #f9f9f9;
	padding-left: 12px;
	padding-right: 12px;
	margin: 4px;
}

.two-columns .column { width: 49%; margin: 0; padding: 0; display: inline-block; }
.three-columns .column { width: 32%; margin: 0; padding: 0; display: inline-block; }

/* blocks overview */
.items.blocks .item {
	float: left;
	width: 129px;
	height: 192px;
	padding: 2px;
	margin: 2px;
}
.items.blocks .item img {
	/* this may modify aspect-ratio of images, but I find it giving it a cleaner view */
	width: 129px;
	height: 192px;
}
.items.blocks .title, .items.blocks .author {
	color: black;
}
.items.blocks .title {
	font-size: 14pt;
	line-height: 16pt;
}
.items.blocks .author {
	padding-top: 1.2ex;
	font-size: 11pt;
	line-height: 12pt;
}
.without-cover {
	padding: 6px;
	height: 182px;
	text-align: center;
	background: #e9e9e9;
}

